<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Réservation</title>
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <style>
            body{
                font-family: 'Oxygen', 'Arial', sans-serif;
                background: #f9f9f9;
                color: #323232;
            }

            .mailer-content{
                max-width: 450px;
                margin: 0 auto;
                color: #323232;
                font-size: 15px;
            }

            .title{
                font-size: 20px;
                color: #e8a700;
                height: 70px;
                line-height: 70px;
                padding-left: 20px;
                border-bottom: 5px solid #e8a700;
                font-weight: 700;
            }

            .mailer-body{
                padding: 50px 20px;
                background: #fff;
            }

            .head{
                font-size: 20px;
                margin-bottom: 10px;
            }

            .booking{
                margin-top: 20px;
            }

            .booking .label{
                font-weight: 700;
            }

            .booking .date span{
                display: inline-block;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background: #e8a700;
                margin-right: 5px;
            }

            .booking .date{
                margin-top: 5px;
            }

            .booking .comment{
                margin: 15px 0;
                color: #525252;
            }

            .copy{
                display: block;
                text-align: center;
                text-align: center;
                padding: 20px;
                color: #929292;
            }
        </style>
    </head>
    <body>
        <div class="mailer-content">
            <div class="title">{{ company }}</div>
            <div class="mailer-body">
                <div class="head">Nouvelle Réservation</div>
                <div class="booking">
                    <div class="label">{{ title }}</div>
                    <div class="date">
                        Ajouté par {{ creator }}
                    </div>
                    <div class="date">
                        Du {{ start }} à {{ end }}
                    </div>
                    <div class="date">
                        <span class="dot"></span> Salle avec Rétro
                    </div>
                    <div class="comment">
                        {{ comment }}
                    </div>
                    <div class="added">
                        Ajouté le {{ created }}
                    </div>
                </div>
            </div>
            <div class="copy">Copyright 2022 Mars-Marketing</div>
        </div>
    </body>
</html>
